html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/*--------------------------------- Global CSS ---------------------*/
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);
}

h1, h2, h3{
    font-family: 'Young Serif', serif;
}


img{
    max-width: 100%;
    border-radius: 20px;
}

li{
    text-indent: 1.5rem;
    color: hsl(30, 10%, 34%);
}

td{
    color: hsl(30, 10%, 34%);
}

/*------------------------------- CSS for Box ---------------------*/
.recipe-box{
    display: block;
    margin-left: 600px;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
    width: 800px;
    height: 90rem;
}

/*---------------- CSS for Header and Paragraphs -----------------*/
.recipe-p{
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}

.recipe-header h1{
    color: hsl(24, 5%, 18%);
}

/*---------------------------- CSS for Preparation ---------------*/
.recipe-preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 20px;
    height: 150px;
}

.recipe-preparation h3{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 50px;
    color: hsl(322, 51%, 32%);
}

.recipe-preparation ul{
    margin-left: 40px;
    margin-right: 50px;
}

/*---------------------------- CSS for Header 2 --------------------*/
.recipe-h2{
    color: hsl(14, 45%, 36%);
}

/*--------------------------- CSS for Ing. and Instr. --------------*/
.border{
    border-bottom: 1px solid hsl(30, 10%, 34%);
}

/*---------------------------- CSS for Nutrition -------------------*/
.ingredient-measurement{
    color: hsl(14,45%,36%);
}

.recipe-nutrition table {
    width: 100%;
    border-collapse: collapse;
}

.recipe-nutrition table tr {
    border-bottom: 1px solid hsl(30, 10%, 34%);
    padding: 12px 0;
}

.recipe-nutrition table tr:last-child td {
    border-bottom: none;
}





/*--------------------------- CSS for Mobile ----------------------*/
@media (max-width: 375px) {
  
}